	.navbar-custom.top-nav-collapse .nav.navbar-nav {
		background-color: rgba(0,0,0,0);
	}

	.navbar-custom ul.nav li a {
		font-size: 12px;
		letter-spacing: 1px;
		color: #444;
		text-transform: uppercase;
		font-weight: 700;
	}

	.navbar-custom.top-nav-collapse ul.nav li a {
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		color: #fff;
	}

	.navbar-custom .nav li a {
		-webkit-transition: background .3s ease-in-out;
		-moz-transition: background .3s ease-in-out;
		transition: background .3s ease-in-out;
	}

	.navbar-custom .nav li a:hover,
	.navbar-custom .nav li a:focus,
	.navbar-custom .nav li.active {
		outline: 0;
		background-color: rgba(255,255,255,.3);
	}
	.navbar-custom .nav li a:hover,
	.navbar-custom .nav li a:focus,
	.navbar-custom .nav li.active {
		outline: 0;
		background-color: rgba(255,255,255,.3);
	}


